.ask-question {
  float: right;
}
.question-item, .answer-item {
    position: relative;
    overflow: hidden;
    padding: 0.9em 1em;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.question-item-section, .answer-item-section {
  position: relative;
  float: left;
  padding-left: 10px;
}
.question-item:hover
{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}
.question-name,
.question-subject {
    margin: 0;
}
.question-name {
    text-transform: uppercase;
    color: #999;
}
.question-desc {
    font-size: 80%;
    margin: 0.4em 0;
}
.question-item-selected {
    background: #eee;
}
.question-title,
.question-body {
  margin-bottom: 5px
}
