body {
    color: #333;
}
a {
    text-decoration: none;
    color: #1b98f8;
}
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}

@media (min-width: 40em) {
    #layout {
        padding-left:700px;
        position: relative;
    }
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-700px;
        width:150px;
        height: 100%;
    }
    .nav-inner {
        display: block;
        padding: 2em 0;
    }
    #nav .nav-menu-button {
        display: none;
    }
    #list {
        margin-left: -150px;
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #ddd;
    }
    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 50px;
        overflow: auto;
        width: auto;
    }
}

@media (min-width: 60em) {
    #list {
        margin-left: -550px;
        width:550px;
        height: 100%;
        border-right: 1px solid #ddd;
    }
    #main {
        position: static;
        margin: 0;
        padding: 0;
    }
}
